.highlight pre {
  background-color: #fcfcfc;
  border: 1px solid #ddd;
  line-height: 1.5em;
  padding: 5px;
  border-radius: 2px;
  font-size: 12px;
}

.highlight pre code {
  padding: 0;
}

.highlight .c,
.highlight .c1,
.highlight .cm {
  color: #808080;
}

.highlight .kd ,
.highlight .nt {
  color: #004ED0;
  color: #2B7CE9;
}

.highlight .m,
.highlight .mi,
.highlight .mf {
  color: #dc3912;
}

.highlight .s {
  color: #008000;
}

.highlight .cp,
.highlight .n,
.highlight .na,
.highlight .s1 {
  color: #ffa500;
}

.highlight .kc {
  color: #990099;
}
