pre.highlight {
  background-color: #fcfcfc;
  border: 1px solid #ddd;
  line-height: 1.5em;
  padding: 5px;
  border-radius: 2px;
  font-size: 12px;
}

pre.highlight code {
  padding: 0;
}

pre.highlight .c,
pre.highlight .c1,
pre.highlight .cm {
  color: #808080;
}

pre.highlight .kd ,
pre.highlight .nt {
  color: #004ED0;
  color: #2B7CE9;
}

pre.highlight .m,
pre.highlight .mi,
pre.highlight .mf {
  color: #dc3912;
}

pre.highlight .s {
  color: #008000;
}

pre.highlight .cp,
pre.highlight .n,
pre.highlight .na,
pre.highlight .s1 {
  color: #ffa500;
}

pre.highlight .kc {
  color: #990099;
}
