
.cle .input,
.cle .results .expr,
.cle .results .res {
  font-family: monospace;
  font-size: 12px;
  color: #363636;
}

.cle {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 3px;

  border: 1px solid #e5e5e5;
  background-color: #f5f5f5;
  border-radius: 2px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.cle.fullscreen {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 999;
}

.cle .top-panel {
  width: 100%;
  height: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0 -30px 0;
  padding: 0 0 30px 0;
}

.cle .bottom-panel {
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 30px;
}

.cle button.fullscreen {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 16px;
  height: 16px;
  z-index: 1;

  border: none;
  cursor: pointer;
  background: url('img/fullscreen.png');
}

.cle button.fullscreen:hover {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

.cle.fullscreen button.fullscreen {
  background: url('img/fullscreen_exit.png');
}

.cle .results {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px;

  border: 1px solid #e5e5e5;
  background-color: white;
  box-shadow: inset 2px 2px 5px rgba(192, 192, 192, 0.1);
  line-height: 1.5;
}

.cle .results .expr {
  padding: 0;
  margin: 0;
}

.cle .results .res {
  padding: 0;
  margin: 0 0 5px 30px;
  color: #dc3912;
}

.cle .results .expr,
.cle .results .res {
  background: none;
  border: none;

  /* https://css-tricks.com/snippets/css/make-pre-text-wrap/ */
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.cle .input-left {
  width: 100%;
  height: 100%;
  margin: 0 -80px 0 0;
  padding: 0 80px 4px 0;
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cle .input-right {
  width: 80px;
  height: 100%;
  margin: 0;
  padding: 0 0 4px 4px;
  float: right;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cle .input {
  width: 100%;
  height: 100%;
  margin: 4px 0 0 0;
  padding: 2px 4px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  border: 1px solid #e5e5e5;
  background-color: white;
  box-shadow: inset 2px 2px 5px rgba(192, 192, 192, 0.1);
}

.cle button.eval {
  color: #363636;
  width: 100%;
  height: 100%;
  margin: 4px 0;
  padding: 0;
}

.result-info-icon {
  color: white;
  background: lightgray;

  border-radius: 3px;

  display: inline-block;
  text-align: center;
  margin: 0 6px;
  padding: 0 3px;

  cursor: pointer;
  transition: 0.1s all;
}

.result-info-icon:hover {
  background: darkgray;
  transition: 0.3s all;
}