
body {
    background-color: white;
    background-image: url('img/background.png');
    background-repeat: repeat;

    font-family: arial, sans serif;
    font-weight: normal;
    font-size: 11pt;
    line-height: 1.5;
    color: #262626;
}

#logo {
    width: 330px;
    height: 100px;
}

#subtitle {
    color: #dc3912;
}

#menu {
    background-color: #666666;
    color: white;
    display: block;
    height: 50px;
    margin: 40px -40px;
    padding: 0 40px;
}

#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu ul li {
    border-right: 1px solid #737373;
    height: 50px;

    padding: 0;
    margin: 0;
    float: left;

    text-decoration: none;
}

#menu ul li:first-child {
    border-left: 1px solid #737373;
}

#menu ul li a {
    text-transform: uppercase;
    color: #f5f5f5;
    text-decoration: none;

    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
}

#menu ul li a:hover {
    background-color: #737373;
    color: white;
}


#page {
    width: 700px;
    min-height: 700px;
    margin: 20px auto;
    background-color: white;
    padding: 20px 40px;
    border: 1px solid lightgray;
    border-radius: 3px;

    box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.2);
}

h1 {
    font-size: 150%;
}