
body {
  background: #f5f5f5 url('img/bright_squares_interlaced.png') repeat;
  height: 100%;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;

  font-family: Verdana, "DejaVu Sans", sans-serif;
  font-weight: normal;
  font-size: 10pt;
  line-height: 1.8;
  color: #363636;
}

#page {
  position: relative;
  width: 800px;
  min-height: 700px;
  margin: 20px auto 0 auto;
  background-color: white;
  padding: 40px 50px;
  border: 1px solid lightgray;
  border-radius: 3px;
  /*overflow: hidden;*/

  box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.2);
}

#page.small {
  width: auto;
  margin: 5px 5px 0 5px;
  padding: 4%;
}

#search {
  position: absolute;
  top: 20px;
  right: 40px;
  width: 300px;
}

#search .gsib_a {
  padding: 2px 6px;
}

.small #search {
  right: 4%;
}

.tiny #search {
  position: static;
  width: 100%;
}

.gsc-result .gs-title {
  height: 1.4em !important;
}

.gsc-search-button .gsc-search-button {
  vertical-align: middle;
  margin: 0;
}

#logo {
  width: 330px;
  height: 100px;
}

.small #logo {
  width: 220px;
  height: 67px;
}

.tiny #logo {
  width: 165px;
  height: 50px;
}

#menu {
  background: #5f5f5f;
  margin: 40px -50px;
  padding: 0 50px;
  text-transform: uppercase;
  box-shadow: 0 0 15px #d6d6d6;
}

#menu a {
  color: white;
  height: 100%;
  display: inline-block;
  border-right: 2px solid #f5f5f5;
  font-weight: bold;
  padding: 10px 18px;
  margin: 0;
  position: relative;
  text-decoration: none;

  -webkit-transition: background .2s ease;
  transition:         background .2s ease;
}

#menu a:first-child {
  border-left: 2px solid #f5f5f5;
}

#menu a:hover {
  background: #808080;
}

#menu a div.selection {
  position: absolute;
  bottom: -7px;
  left: 0;
  height: 5px;
  width: 100%;
  background: #dc3912;
}

#page.small #menu {
  margin: 40px -4%;
  padding: 0 4%;
}

#page.tiny #menu {
  margin: 0;
  padding: 0;
}

#page.tiny #menu a {
  display: block;
  border-right: none;
  border-bottom: 2px solid #f5f5f5;
}

#page.tiny #menu a div.selection {
  left: -7px;
  top: 0;
  height: 100%;
  width: 5px;
}


#likes {
  min-height: 42px;
  margin: 60px 0 20px 0;
  padding: 0;
  overflow: visible;
}

div.like {
  float: left;
  max-width: 100%;
  height: 42px;
  margin-right: 10px;
}

div.like.github {
  margin-right: 0;
}

div.like.linkedin {
  margin-top: -3px;
}

#footer {
  color: #b4b4b4;
  text-align: center;
  margin: 5px auto 30px auto;
}

div.cols {
  padding: 0;
  margin: 0;
}

.small div.cols {
  width: 100%;
}

div.cols .left {
  float: left;
  width: 47%;
}

div.cols .right {
  float: right;
  width: 47%;
}

.small div.cols .left,
.small div.cols .right {
  width: 100%;
}


div.cols .end {
  clear: both;
  height: 0;
  overflow: hidden;
}

#content table {
  border-collapse: collapse;
  margin: 15px 0;
}

#content table th,
#content table td {
  border: 1px solid #ddd;
  padding: 6px 13px;
}

#content table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

pre {
  overflow: auto;
}

code {
  padding: 0.2em;
  margin: 0;
  font-size: 90%;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
}

pre code {
  margin: inherit;
  border: none;
  font-size: 100%;
  background-color: transparent;
  border-radius: inherit;
  padding: inherit;
}

blockquote {
  color: #777;
  border-left: 0.3em solid #ddd;
  margin: 1em 1em;
  padding: 0 2em;
}

#commandline {
  width: 100%;
  height: 300px;
}

.tips {
  color: #b4b4b4;
  margin: 10px 0;
  font-size: 80%;
}
.tips ul {
  margin: 0;
}

h1, h2 {
  font-size: 120%;
  margin-top: 20px;
}

h3, h4 {
  font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  padding-left: 30px;
  margin-left: -30px;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  position: absolute;
  width: 30px;
  left: 0;
  top: 0;
  display: inline-block;
  text-align: center;
  visibility: hidden;
  text-decoration: none;
}

.small h1 a,
.small h2 a,
.small h3 a,
.small h4 a,
.small h5 a,
.small h6 a {
  position: relative;
}

h1:hover a,
h2:hover a,
h3:hover a,
h4:hover a,
h5:hover a,
h6:hover a {
  visibility: visible;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  text-decoration: underline;
}

#content ul {
  list-style-type: square;
}

#content img {
  border: none;
}

#content a {
  color: #dc3912;
}

#content a:visited {
  color: #b82e12;
}

#content a:hover {
  color: #f43f14;
}

#footer a {
  color: #b4b4b4;
  text-decoration: none;
}

#footer a:hover {
  color: #dc3912;
}

#forkme {
  position: absolute;
  text-align: right;
  top: 0;
  right: 0;
  border: 0;
}

#forkme.small {
  display: none;
}

.info-warning {
  background: #ffff9e;
  border: 1px solid #ffe765;
  padding: 6px 10px;
}
