body, html {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.CodeMirror-focused .cm-matchhighlight {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFklEQVQI12NgYGBgkKzc8x9CMDAwAAAmhwSbidEoSQAAAABJRU5ErkJggg==);
    background-position: bottom;
    background-repeat: repeat-x;
  }
  
  .cm-matchhighlight {
    background-color: rgba(144, 238, 144, 0.4)
  }
  
  .CodeMirror-selection-highlight-scrollbar {
    background-color: rgba(0, 180, 0, 0.4)
  }

body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    overflow: hidden;
    flex: 1;
}

main > div.CodeMirror {
    flex: 1;
    height: auto;
}

main>article.markdown-body {
    flex: 1;
    overflow: auto;
    box-sizing: border-box;
    overflow: auto;
}

main>.markdown-body {
    min-width: 200px;
    max-width: 980px;
    overflow: scroll;
    padding: 1em;
}

.markdown-body pre{
    padding: 0.5em;
}

.markdown-body pre.currentBlockResult{
    background-color: #e8f2ff;
}

.markdown-body pre>code.highlighted{
    background-color: rgba(144, 238, 144, 0.4);
    border-radius: 0px;
}

@media (max-width: 767px) {
    .markdown-body {
        padding: 15px;
    }
}