Bartosz Leoniak <leoniak.bartosz@gmail.com>
Benjamin Lucas <bnlcas@gmail.com>
Eric Mansfield <ericman314@gmail.com>
Finn Pauls <derfinn@gmail.com>
Gary Passero <gary.passero@rolemodelsoftware.com>
Harsh Gupta <w327AJUdMV2yGVq5dkNX>
Karl Lew <karl@firepick.org>
Horatiu Lazu <horatiulazu@gmail.com>
Michael M. <mm151@og4-pool-23.ub.privat>
Oleg <koshelnikov@gmail.com>
Pat Grasso <pgrasso@stevens.edu>
Saket Saurabh <contact@saketsaurabh.me>
Sathish Kumar Subramani <kartheeswarison3@gmail.com>
Slava Ganzin <slava.ganzin@gmail.com>
Stu Blair <elstoo@gmail.com>
Harry Sarson <harry.sarson@hotmail.co.uk> H.D. Sarson <hds28@cam.ac.uk>
<harry.sarson@hotmail.co.uk> <harry@home.home>
<harry.sarson@hotmail.co.uk> <harry.sason@hotmail.co.uk>
<harry.sarson@hotmail.co.uk> <harry.sarson@utterberry.com>
Timothy Lee <tetslee@gmail.com>
Tóth Róbert <nekomajin42@gmail.com>
Todd Morse <todd@morsecodist.io>
<rogelio.javier@baucells.net> <rjbaucells@users.noreply.github.com>
Rogelio J. Baucells <rogelio.javier@baucells.net> rjbaucells <rjbaucells@gmail.com>
<wjosdejong@gmail.com> <jos@almende.org>
<pbuchsbaum@globo.com> <30529574+paulobuchsbaum@users.noreply.github.com>
Paulo Buchsbaum <pbuchsbaum@globo.com>
<devanp92@ufl.edu> <devanp92@users.noreply.github.com>
