language: node_js
node_js:
  - 10
  - 12
  - 14

script: npm run test:src

jobs:
  include:
    - stage: other
      script: npm run lint
      node_js: lts/*
      name: Lint
    - script: 'if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then npm run test:browserstack; else npm run test:browser; fi'
      node_js: lts/*
      name: Browser Test
    - script: npm run build-and-test
      node_js: lts/*
      name: Build Test
    - script: npm run coverage && npx codecov
      node_js: lts/*
      name: Coverage
