<!DOCTYPE HTML>
<html>
<head>
  <title>math.js | an extensive math library for JavaScript and Node.js</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="title" content="math.js">

  <meta name="keywords" content="mathjs, math.js, math, js, javascript, node, library, expression, parser, numeric, number, bignumber, complex, matrix, unit, function, variable, string, value, node.js, mathematics, extensive, advanced">
  <meta name="description" content="Math.js is an extensive math library for JavaScript and Node.js. It features big numbers, complex numbers, matrices, units, and a flexible expression parser.">

  <meta name="author" content="Jos de Jong">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link href="css/style.css" rel="stylesheet" type="text/css">
  <link href="css/commandline.css" rel="stylesheet" type="text/css">

  <script src="js/lib/es5-sham.min.js" type="text/javascript"></script>
  <script src="js/lib/math.min.js" type="text/javascript"></script>
  <script src="js/commandline.js" type="text/javascript"></script>
</head>

<!-- itemscope, itemtype, and  itemprop for google+ meta information -->
<body itemscope itemtype="http://schema.org/Product">
<div id="page">
  <p>
    <a href="http://mathjs.org">
      <img src="css/img/mathjs_330x100.png" id="logo" alt="math.js" itemprop="image" >
    </a>
  </p>

  {{content}}

  <div id="likes">
    <!-- github -->
    <!-- https://github.com/mdo/github-buttons -->
    <div class="like github">
      <iframe src="http://ghbtns.com/github-btn.html?user=josdejong&repo=mathjs&type=watch&count=true"
              allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
    </div>

    <!-- twitter -->
    <div class="like twitter">
      <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>

    <!-- facebook -->
    <div class="like facebook">
      <div id="fb-root" style="display: none;"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=537047263003274";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
      <div class="fb-like" data-href="http://mathjs.org" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true" data-font="verdana"></div>
    </div>

    <!-- linkedin -->
    <div class="like linkedin">
      <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
      <script type="IN/Share" data-url="http://mathjs.org" data-counter="right"></script>
    </div>

    <!-- google+ -->
    <div class="like googleplus">
      <!-- Place this tag where you want the +1 button to render. -->
      <div class="g-plusone" data-size="medium"></div>

      <!-- Place this tag after the last +1 button tag. -->
      <script type="text/javascript">
        (function() {
          var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
          po.src = 'https://apis.google.com/js/plusone.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
      </script>
    </div>

    <div style="clear: both;"></div>
  </div>
</div>

<div id="footer">
  <a href="http://mathjs.org">mathjs.org</a> &bull;
  <a href="https://github.com/josdejong/mathjs#license" target="_blank">copyright &copy; 2013 jos de jong</a> &bull;
  <a href="http://subtlepatterns.com/bright-squares/" target="_blank">background by waseem dahman</a>
</div>

<div id="forkme">
  <a href="https://github.com/josdejong/mathjs" target="_blank">
    <img src="css/img/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" >
  </a>
</div>

<script type="text/javascript">
  // change layout for different screen sizes
  function resize () {
    var width = document.body.clientWidth;

    var page = document.getElementById('page');
    page.className = (width < 810) ? 'small' : 'normal';
    if (width < 400) {
      page.className += ' tiny';
    }

    var forkme = document.getElementById('forkme');
    forkme.className = (width < 500) ? 'small' : 'normal';
  }
  resize();
  window.onresize = resize;
</script>

</body>
</html>