<!DOCTYPE HTML>
<html>
<head>
    <title>math.js - an extensive math library for JavaScript and Node.js</title>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="title" content="math.js">
    <meta name="keywords" content="math, mathematics, library, node, node.js, javascript, functions, parser, expression, real, complex, matrix, unit">
    <meta name="description" content="Math.js is an extensive math library for JavaScript and Node.js, supporting numbers, complex numbers, units, strings, and matrices.">
    <meta name="author" content="Jos de Jong">

    <!-- for mobile devices like android and iphone -->
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <link href="css/mathjs.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="https://raw.github.com/josdejong/mathjs/master/math.js"></script>
</head>
<body>
<div id="page">
    <p>
        <a href="http://mathjs.org">
            <img src="css/img/mathjs_330x100.png" id="logo">
        </a>
    </p>
    <p id='subtitle'>
        An extensive math library for JavaScript and Node.js
    </p>

    <div id="menu">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Demo</a></li>
            <li><a href="#">Documentation</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </div>

    {{content}}
</div>

<!-- TODO: create a footer -->
</body>
</html>