<!DOCTYPE HTML>
<html>
<head>
  <title>math.js | an extensive math library for JavaScript and Node.js</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="title" content="math.js">

  <meta name="keywords" content="mathjs, math.js, math, js, javascript, node, library, expression, parser, algebra, numeric, number, bignumber, complex, matrix, unit, function, variable, string, value, node.js, mathematics, extensive, advanced">
  <meta name="description" content="Math.js is an extensive math library for JavaScript and Node.js. It features big numbers, complex numbers, matrices, units, and a flexible expression parser.">

  <meta name="author" content="Jos de Jong">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <link href="/css/commandline.css" rel="stylesheet" type="text/css">
  <link href="/css/code.css" rel="stylesheet" type="text/css">
</head>

<!-- itemscope, itemtype, and  itemprop for google+ meta information -->
<body itemscope itemtype="https://schema.org/Product">
<div id="page">
  <div>
    <a href="https://mathjs.org">
      <img src="/css/img/mathjs_330x100.png" id="logo" alt="math.js" itemprop="image" >
    </a>
  </div>

  <div id="search">
    <script>
      (function() {
        var cx = '017327835323070913148:__zkzh4scga';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
  </div>

  <div id="menu">
    <a href="/index.html">
      Home
      {% if page.url == '/index.html' %}
      <div class="selection"></div>
      {% endif %}
    </a><a href="/download.html">
    Download
    {% if page.url == '/download.html' %}
    <div class="selection"></div>
    {% endif %}
    </a><a href="/docs/getting_started.html">
      Get started
      {% if page.url == '/docs/getting_started.html' %}
      <div class="selection"></div>
      {% endif %}
    </a><a href="/docs/index.html">
        Docs
        {% if page.url contains '/docs/' and page.url != '/docs/getting_started.html' %}
        <div class="selection"></div>
        {% endif %}
    </a><a href="/examples/index.html">
        Examples
        {% if page.url contains '/examples/' %}
        <div class="selection"></div>
        {% endif %}
    </a>
  </div>

  <div id="content">
    {{content}}
  </div>

</div>

<div id="footer">
  <a href="https://mathjs.org">mathjs.org</a> &bull;
  <a href="https://github.com/josdejong/mathjs#license" target="_blank">copyright &copy; 2013-2022 jos de jong</a> &bull;
  <a href="https://www.toptal.com/designers/subtlepatterns/bright-squares" target="_blank">background by waseem dahman</a>
</div>

<div id="forkme">
  <a href="https://github.com/josdejong/mathjs" target="_blank">
    <img src="/css/img/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" >
  </a>
</div>

<script type="text/javascript">
  // change layout for different screen sizes
  function resize () {
    var width = document.body.clientWidth;

    var page = document.getElementById('page');
    page.className = (width < 810) ? 'small' : 'normal';
    if (width < 620) {
      page.className += ' tiny';
    }

    var forkme = document.getElementById('forkme');
    forkme.className = (width < 810) ? 'small' : 'normal';
  }

  resize();
  window.onresize = resize;
</script>


<script src="/js/lib/es5-shim.min.js" type="text/javascript"></script>
<script src="/js/lib/es5-sham.min.js" type="text/javascript"></script>
<script src="/js/lib/math.js" type="text/javascript"></script>
<script src="/js/commandline.js" type="text/javascript"></script>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-42777816-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-42777816-2');
</script>

</body>
</html>
