<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>
			math.js | an extensive math library for JavaScript and Node.js
		</title>
		<meta name="title" content="math.js" />
		<meta name="keywords" content="mathjs, math.js, math, js, javascript, node, library, expression, parser, algebra, numeric, number, bignumber, complex, matrix, unit, function, variable, string, value, node.js, mathematics, extensive, advanced" />
		<meta name="description" content="Math.js is an extensive math library for JavaScript and Node.js. It features big numbers, complex numbers, matrices, units, and a flexible expression parser." />
		<meta name="author" content="Jos de Jong" />
	</head>
	<body>
		<slot />
	</body>
</html>

<script is:inline src="../node_modules/flyonui/flyonui.js"></script>

<style></style>
